
topaz_search.pdb
topaz_search.exe
topaz_game.pdb
topaz_game.exe
topaz_connect.pdb
topaz_connect.exe
*.log
log/login-server.log
log/map-server.log
log/search-server.log
*.log
conf/default/version.conf
conf/default/server_message.conf
conf/default/search_server.conf
conf/default/packet_udp.conf
conf/default/packet_tcp.conf
conf/default/map.conf
conf/default/maint.conf
conf/default/login.conf
*.conf
build/x86-Debug/VSInheritEnvironments.txt
*.lib
*.pdb
*.obj
*.cmake
*.res
*.i
*.rc
*.manifest
*.log
log/search-server.log
log/map-server.log
log/login-server.log
*.log
*.log
*.log
*.log
*.ninja
*.c
*.log
log/login-server.log
log/map-server.log
log/search-server.log
*.bak
src/common/version.cpp
scripts/zones/Dynamis-San_dOria/mobs/Wyrmgnasher_Bjakdek.lua
scripts/zones/Dynamis-San_dOria/mobs/Voidstreaker_Butchnotch.lua
scripts/zones/Dynamis-San_dOria/mobs/Vanguard_Vexer.lua
scripts/zones/Dynamis-San_dOria/mobs/Vanguard_Trooper.lua
scripts/zones/Dynamis-San_dOria/mobs/Vanguard_Predator.lua
scripts/zones/Dynamis-San_dOria/mobs/Vanguard_Pillager.lua
scripts/zones/Dynamis-San_dOria/mobs/Vanguard_Neckchopper.lua
scripts/zones/Dynamis-San_dOria/mobs/Vanguard_Mesmerizer.lua
scripts/zones/Dynamis-San_dOria/mobs/Vanguard_Impaler.lua
scripts/zones/Dynamis-San_dOria/mobs/Vanguard_Hawker.lua
scripts/zones/Dynamis-San_dOria/mobs/Vanguard_Gutslasher.lua
scripts/zones/Dynamis-San_dOria/mobs/Vanguard_Grappler.lua
scripts/zones/Dynamis-San_dOria/mobs/Vanguard_Footsoldier.lua
scripts/zones/Dynamis-San_dOria/mobs/Vanguard_Dollmaster.lua
scripts/zones/Dynamis-San_dOria/mobs/Vanguard_Bugler.lua
scripts/zones/Dynamis-San_dOria/mobs/Vanguard_Backstabber.lua
scripts/zones/Dynamis-San_dOria/mobs/Vanguard_Amputator.lua
scripts/zones/Dynamis-San_dOria/mobs/Steelshank_Kratzvatz.lua
scripts/zones/Dynamis-San_dOria/mobs/Spellspear_Djokvukk.lua
scripts/zones/Dynamis-San_dOria/mobs/Soulsender_Fugbrag.lua
scripts/zones/Dynamis-San_dOria/mobs/Reapertongue_Gadgquok.lua
scripts/zones/Dynamis-San_dOria/mobs/Bloodfist_Voshgrosh.lua
scripts/zones/Dynamis-San_dOria/mobs/Bladeburner_Rokgevok.lua
scripts/zones/Dynamis-San_dOria/mobs/Battlechoir_Gitchfotch.lua
scripts/settings/main.lua
scripts/globals/weaponskills/atonement.lua
dmp/topaz_game_64.exe_13-4_22-28-30.dmp
build/x86-Debug/compile_commands.json
build/x86-Debug/CMakeFiles/TargetDirectories.txt
build/x86-Debug/CMakeFiles/ShowIncludes/foo.h
build/x86-Debug/CMakeFiles/cmake.check_cache
build/x86-Debug/CMakeFiles/clang-format-ec6597b.bat
build/x86-Debug/CMakeFiles/_CMakeLTOTest-CXX/src/main.cpp
build/x86-Debug/CMakeFiles/_CMakeLTOTest-CXX/src/foo.cpp
build/x86-Debug/CMakeFiles/_CMakeLTOTest-CXX/src/CMakeLists.txt
build/x86-Debug/CMakeFiles/_CMakeLTOTest-CXX/bin/CMakeFiles/TargetDirectories.txt
build/x86-Debug/CMakeFiles/_CMakeLTOTest-CXX/bin/CMakeFiles/cmake.check_cache
build/x86-Debug/CMakeFiles/_CMakeLTOTest-CXX/bin/CMakeCache.txt
build/x86-Debug/CMakeFiles/_CMakeLTOTest-CXX/bin/boo.exe
build/x86-Debug/CMakeFiles/_CMakeLTOTest-CXX/bin/.ninja_log
build/x86-Debug/CMakeFiles/_CMakeLTOTest-CXX/bin/.ninja_deps
build/x86-Debug/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
build/x86-Debug/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/x86-Debug/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
build/x86-Debug/CMakeFiles/3.17.20032601-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
build/x86-Debug/CMakeFiles/3.17.20032601-MSVC_2/CMakeDetermineCompilerABI_C.bin
build/x86-Debug/CMakeCache.txt
build/x86-Debug/_deps/efsw-subbuild/efsw-populate-prefix/tmp/efsw-populate-cfgcmd.txt.in
build/x86-Debug/_deps/efsw-subbuild/efsw-populate-prefix/tmp/efsw-populate-cfgcmd.txt
build/x86-Debug/_deps/efsw-subbuild/efsw-populate-prefix/src/efsw-populate-stamp/efsw-populate-test
build/x86-Debug/_deps/efsw-subbuild/efsw-populate-prefix/src/efsw-populate-stamp/efsw-populate-patch
build/x86-Debug/_deps/efsw-subbuild/efsw-populate-prefix/src/efsw-populate-stamp/efsw-populate-mkdir
build/x86-Debug/_deps/efsw-subbuild/efsw-populate-prefix/src/efsw-populate-stamp/efsw-populate-install
build/x86-Debug/_deps/efsw-subbuild/efsw-populate-prefix/src/efsw-populate-stamp/efsw-populate-gitinfo.txt
build/x86-Debug/_deps/efsw-subbuild/efsw-populate-prefix/src/efsw-populate-stamp/efsw-populate-gitclone-lastrun.txt
build/x86-Debug/_deps/efsw-subbuild/efsw-populate-prefix/src/efsw-populate-stamp/efsw-populate-download
build/x86-Debug/_deps/efsw-subbuild/efsw-populate-prefix/src/efsw-populate-stamp/efsw-populate-done
build/x86-Debug/_deps/efsw-subbuild/efsw-populate-prefix/src/efsw-populate-stamp/efsw-populate-configure
build/x86-Debug/_deps/efsw-subbuild/efsw-populate-prefix/src/efsw-populate-stamp/efsw-populate-build
build/x86-Debug/_deps/efsw-subbuild/CMakeLists.txt
build/x86-Debug/_deps/efsw-subbuild/CMakeFiles/TargetDirectories.txt
build/x86-Debug/_deps/efsw-subbuild/CMakeFiles/efsw-populate.dir/Labels.txt
build/x86-Debug/_deps/efsw-subbuild/CMakeFiles/efsw-populate.dir/Labels.json
build/x86-Debug/_deps/efsw-subbuild/CMakeFiles/efsw-populate-complete
build/x86-Debug/_deps/efsw-subbuild/CMakeFiles/cmake.check_cache
build/x86-Debug/_deps/efsw-subbuild/CMakeCache.txt
build/x86-Debug/_deps/efsw-subbuild/.ninja_log
build/x86-Debug/_deps/efsw-subbuild/.ninja_deps
build/x86-Debug/_deps/efsw-src/
build/x86-Debug/_deps/concurrentqueue-subbuild/concurrentqueue-populate-prefix/tmp/concurrentqueue-populate-cfgcmd.txt.in
build/x86-Debug/_deps/concurrentqueue-subbuild/concurrentqueue-populate-prefix/tmp/concurrentqueue-populate-cfgcmd.txt
build/x86-Debug/_deps/concurrentqueue-subbuild/concurrentqueue-populate-prefix/src/concurrentqueue-populate-stamp/concurrentqueue-populate-test
build/x86-Debug/_deps/concurrentqueue-subbuild/concurrentqueue-populate-prefix/src/concurrentqueue-populate-stamp/concurrentqueue-populate-patch
build/x86-Debug/_deps/concurrentqueue-subbuild/concurrentqueue-populate-prefix/src/concurrentqueue-populate-stamp/concurrentqueue-populate-mkdir
build/x86-Debug/_deps/concurrentqueue-subbuild/concurrentqueue-populate-prefix/src/concurrentqueue-populate-stamp/concurrentqueue-populate-install
build/x86-Debug/_deps/concurrentqueue-subbuild/concurrentqueue-populate-prefix/src/concurrentqueue-populate-stamp/concurrentqueue-populate-gitinfo.txt
build/x86-Debug/_deps/concurrentqueue-subbuild/concurrentqueue-populate-prefix/src/concurrentqueue-populate-stamp/concurrentqueue-populate-gitclone-lastrun.txt
build/x86-Debug/_deps/concurrentqueue-subbuild/concurrentqueue-populate-prefix/src/concurrentqueue-populate-stamp/concurrentqueue-populate-download
build/x86-Debug/_deps/concurrentqueue-subbuild/concurrentqueue-populate-prefix/src/concurrentqueue-populate-stamp/concurrentqueue-populate-done
build/x86-Debug/_deps/concurrentqueue-subbuild/concurrentqueue-populate-prefix/src/concurrentqueue-populate-stamp/concurrentqueue-populate-configure
build/x86-Debug/_deps/concurrentqueue-subbuild/concurrentqueue-populate-prefix/src/concurrentqueue-populate-stamp/concurrentqueue-populate-build
build/x86-Debug/_deps/concurrentqueue-subbuild/CMakeLists.txt
build/x86-Debug/_deps/concurrentqueue-subbuild/CMakeFiles/TargetDirectories.txt
build/x86-Debug/_deps/concurrentqueue-subbuild/CMakeFiles/concurrentqueue-populate.dir/Labels.txt
build/x86-Debug/_deps/concurrentqueue-subbuild/CMakeFiles/concurrentqueue-populate.dir/Labels.json
build/x86-Debug/_deps/concurrentqueue-subbuild/CMakeFiles/concurrentqueue-populate-complete
build/x86-Debug/_deps/concurrentqueue-subbuild/CMakeFiles/cmake.check_cache
build/x86-Debug/_deps/concurrentqueue-subbuild/CMakeCache.txt
build/x86-Debug/_deps/concurrentqueue-subbuild/.ninja_log
build/x86-Debug/_deps/concurrentqueue-subbuild/.ninja_deps
build/x86-Debug/_deps/concurrentqueue-src/
.vs/VSWorkspaceState.json
.vs/vrtraserver/v16/Browse.VC.db
.vs/vrtraserver/v16/.suo
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/CMake Overview
.vs/vrtraserver/v16/Browse.VC.opendb
.vs/vrtraserver/v16/Browse.VC.db-shm
.vs/vrtraserver/v16/Browse.VC.db-wal
build/x64-Release/.ninja_deps
build/x64-Release/.ninja_log
build/x64-Release/_deps/concurrentqueue-src/
build/x64-Release/_deps/concurrentqueue-subbuild/.ninja_deps
build/x64-Release/_deps/concurrentqueue-subbuild/.ninja_log
build/x64-Release/_deps/concurrentqueue-subbuild/CMakeCache.txt
build/x64-Release/_deps/concurrentqueue-subbuild/CMakeFiles/cmake.check_cache
build/x64-Release/_deps/concurrentqueue-subbuild/CMakeFiles/concurrentqueue-populate-complete
build/x64-Release/_deps/concurrentqueue-subbuild/CMakeFiles/concurrentqueue-populate.dir/Labels.json
build/x64-Release/_deps/concurrentqueue-subbuild/CMakeFiles/concurrentqueue-populate.dir/Labels.txt
build/x64-Release/_deps/concurrentqueue-subbuild/CMakeFiles/TargetDirectories.txt
build/x64-Release/_deps/concurrentqueue-subbuild/CMakeLists.txt
build/x64-Release/_deps/concurrentqueue-subbuild/concurrentqueue-populate-prefix/src/concurrentqueue-populate-stamp/concurrentqueue-populate-build
build/x64-Release/_deps/concurrentqueue-subbuild/concurrentqueue-populate-prefix/src/concurrentqueue-populate-stamp/concurrentqueue-populate-configure
build/x64-Release/_deps/concurrentqueue-subbuild/concurrentqueue-populate-prefix/src/concurrentqueue-populate-stamp/concurrentqueue-populate-done
build/x64-Release/_deps/concurrentqueue-subbuild/concurrentqueue-populate-prefix/src/concurrentqueue-populate-stamp/concurrentqueue-populate-download
build/x64-Release/_deps/concurrentqueue-subbuild/concurrentqueue-populate-prefix/src/concurrentqueue-populate-stamp/concurrentqueue-populate-gitclone-lastrun.txt
build/x64-Release/_deps/concurrentqueue-subbuild/concurrentqueue-populate-prefix/src/concurrentqueue-populate-stamp/concurrentqueue-populate-gitinfo.txt
build/x64-Release/_deps/concurrentqueue-subbuild/concurrentqueue-populate-prefix/src/concurrentqueue-populate-stamp/concurrentqueue-populate-install
build/x64-Release/_deps/concurrentqueue-subbuild/concurrentqueue-populate-prefix/src/concurrentqueue-populate-stamp/concurrentqueue-populate-mkdir
build/x64-Release/_deps/concurrentqueue-subbuild/concurrentqueue-populate-prefix/src/concurrentqueue-populate-stamp/concurrentqueue-populate-patch
build/x64-Release/_deps/concurrentqueue-subbuild/concurrentqueue-populate-prefix/src/concurrentqueue-populate-stamp/concurrentqueue-populate-test
build/x64-Release/_deps/concurrentqueue-subbuild/concurrentqueue-populate-prefix/tmp/concurrentqueue-populate-cfgcmd.txt
build/x64-Release/_deps/concurrentqueue-subbuild/concurrentqueue-populate-prefix/tmp/concurrentqueue-populate-cfgcmd.txt.in
build/x64-Release/_deps/efsw-src/
build/x64-Release/_deps/efsw-subbuild/.ninja_deps
build/x64-Release/_deps/efsw-subbuild/.ninja_log
build/x64-Release/_deps/efsw-subbuild/CMakeCache.txt
build/x64-Release/_deps/efsw-subbuild/CMakeFiles/cmake.check_cache
build/x64-Release/_deps/efsw-subbuild/CMakeFiles/efsw-populate-complete
build/x64-Release/_deps/efsw-subbuild/CMakeFiles/efsw-populate.dir/Labels.json
build/x64-Release/_deps/efsw-subbuild/CMakeFiles/efsw-populate.dir/Labels.txt
build/x64-Release/_deps/efsw-subbuild/CMakeFiles/TargetDirectories.txt
build/x64-Release/_deps/efsw-subbuild/CMakeLists.txt
build/x64-Release/_deps/efsw-subbuild/efsw-populate-prefix/src/efsw-populate-stamp/efsw-populate-build
build/x64-Release/_deps/efsw-subbuild/efsw-populate-prefix/src/efsw-populate-stamp/efsw-populate-configure
build/x64-Release/_deps/efsw-subbuild/efsw-populate-prefix/src/efsw-populate-stamp/efsw-populate-done
build/x64-Release/_deps/efsw-subbuild/efsw-populate-prefix/src/efsw-populate-stamp/efsw-populate-download
build/x64-Release/_deps/efsw-subbuild/efsw-populate-prefix/src/efsw-populate-stamp/efsw-populate-gitclone-lastrun.txt
build/x64-Release/_deps/efsw-subbuild/efsw-populate-prefix/src/efsw-populate-stamp/efsw-populate-gitinfo.txt
build/x64-Release/_deps/efsw-subbuild/efsw-populate-prefix/src/efsw-populate-stamp/efsw-populate-install
build/x64-Release/_deps/efsw-subbuild/efsw-populate-prefix/src/efsw-populate-stamp/efsw-populate-mkdir
build/x64-Release/_deps/efsw-subbuild/efsw-populate-prefix/src/efsw-populate-stamp/efsw-populate-patch
build/x64-Release/_deps/efsw-subbuild/efsw-populate-prefix/src/efsw-populate-stamp/efsw-populate-test
build/x64-Release/_deps/efsw-subbuild/efsw-populate-prefix/tmp/efsw-populate-cfgcmd.txt
build/x64-Release/_deps/efsw-subbuild/efsw-populate-prefix/tmp/efsw-populate-cfgcmd.txt.in
build/x64-Release/CMakeCache.txt
build/x64-Release/CMakeFiles/3.17.20032601-MSVC_2/CMakeDetermineCompilerABI_C.bin
build/x64-Release/CMakeFiles/3.17.20032601-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
build/x64-Release/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
build/x64-Release/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/x64-Release/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
build/x64-Release/CMakeFiles/_CMakeLTOTest-CXX/bin/.ninja_deps
build/x64-Release/CMakeFiles/_CMakeLTOTest-CXX/bin/.ninja_log
build/x64-Release/CMakeFiles/_CMakeLTOTest-CXX/bin/boo.exe
build/x64-Release/CMakeFiles/_CMakeLTOTest-CXX/bin/CMakeCache.txt
build/x64-Release/CMakeFiles/_CMakeLTOTest-CXX/bin/CMakeFiles/cmake.check_cache
build/x64-Release/CMakeFiles/_CMakeLTOTest-CXX/bin/CMakeFiles/TargetDirectories.txt
build/x64-Release/CMakeFiles/_CMakeLTOTest-CXX/src/CMakeLists.txt
build/x64-Release/CMakeFiles/_CMakeLTOTest-CXX/src/foo.cpp
build/x64-Release/CMakeFiles/_CMakeLTOTest-CXX/src/main.cpp
build/x64-Release/CMakeFiles/clang-format-ec6597b.bat
build/x64-Release/CMakeFiles/cmake.check_cache
build/x64-Release/CMakeFiles/ShowIncludes/foo.h
build/x64-Release/CMakeFiles/TargetDirectories.txt
build/x64-Release/compile_commands.json
build/x64-Release/VSInheritEnvironments.txt
scripts/globals/events/login_campaign.lua
src/common/version.cpp
topaz_connect_64.exe
topaz_game_64.exe
topaz_search_64.exe
scripts/globals/events/login_campaign.lua
src/common/version.cpp
topaz_connect_64.exe
topaz_game_64.exe
topaz_search_64.exe
*.exe
topaz_search_64.exe
topaz_search_64.exe
*.exe
scripts/globals/events/login_campaign.lua
src/common/version.cpp
tools/config.yaml
tools/migrations/__pycache__/abyssea_unlocks.cpython-310.pyc
tools/migrations/__pycache__/add_daily_tally_column.cpython-310.pyc
tools/migrations/__pycache__/add_field_chocobo_column.cpython-310.pyc
tools/migrations/__pycache__/add_instance_zone_column.cpython-310.pyc
tools/migrations/__pycache__/add_job_master_column_chars.cpython-310.pyc
tools/migrations/__pycache__/add_new_wardrobe_columns.cpython-310.pyc
tools/migrations/__pycache__/add_timecreated_column.cpython-310.pyc
tools/migrations/__pycache__/broken_linkshells.cpython-310.pyc
tools/migrations/__pycache__/char_points_weekly_unity.cpython-310.pyc
tools/migrations/__pycache__/char_profile_unity_leader.cpython-310.pyc
tools/migrations/__pycache__/char_timestamp.cpython-310.pyc
tools/migrations/__pycache__/char_unlock_table_columns.cpython-310.pyc
tools/migrations/__pycache__/convert_mission_status.cpython-310.pyc
tools/migrations/__pycache__/convert_tables_to_innodb.cpython-310.pyc
tools/migrations/__pycache__/convert_zilart_status.cpython-310.pyc
tools/migrations/__pycache__/cop_mission_ids.cpython-310.pyc
tools/migrations/__pycache__/crystal_storage.cpython-310.pyc
tools/migrations/__pycache__/currency2.cpython-310.pyc
tools/migrations/__pycache__/currency_columns.cpython-310.pyc
tools/migrations/__pycache__/eminence_blob.cpython-310.pyc
tools/migrations/__pycache__/extend_mission_log.cpython-310.pyc
tools/migrations/__pycache__/HP_masks_to_blobs.cpython-310.pyc
tools/migrations/__pycache__/languages.cpython-310.pyc
tools/migrations/__pycache__/mission_blob_extra.cpython-310.pyc
tools/migrations/__pycache__/spell_blobs_to_spell_table.cpython-310.pyc
tools/migrations/__pycache__/spell_family_column.cpython-310.pyc
tools/migrations/__pycache__/unnamed_flags.cpython-310.pyc
tools/migrations/__pycache__/utils.cpython-310.pyc
topaz_connect_64.exe
topaz_game_64.exe
topaz_search_64.exe
topaz_connect_64.exe
topaz_game_64.exe
topaz_game_64.exe
topaz_search_64.exe
